<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Forgot Password</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.90so.net/layui/2.4.5/css/layui.css" th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet">
    <link href="../../static/css/register.css" th:href="@{/css/auth.css}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdn.90so.net/layui/2.4.5/layui.js" th:src="@{/webjars/layui/layui.js}"></script>
    <script type="text/javascript" src="https://cdn.90so.net/layui/2.4.5/layui.all.js" th:src="@{/webjars/layui/layui.all.js}"></script>
    <script type="text/javascript" src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
</head>

<body>
<div class="login">
    <div class="login-brand">
        <img src="../../static/image/kodinger.jpg" th:src="@{/image/kodinger.jpg}" alt="logo">
    </div>
    <div class="login-wrapper">
        <div class="login-box login-register">
            <div class="login-box-inner">
                <form id="forgot-form" action="#" method="post">
                    <p>重置密码</p>
                    <div class="login-group">
                        <label>邮箱</label>
                        <input id="forgot-email" type="email" autocomplete="email" name="email" class="login-input">
                    </div>
                    <div class="login-group">
                        <label>激活码</label>
                        <input id="forgot-code" type="text" name="forgot-code" autocomplete="forgot-code" class="login-input">
                    </div>
                    <div class="login-group">
                        <label>新密码</label>
                        <input id="forgot-password" type="password" name="password" autocomplete="current-password" class="login-input">
                    </div>
                    <div class="login-group">
                        <label>重复密码</label>
                        <input id="forgot-repassword" type="password" name="repassword" autocomplete="re-password" class="login-input">
                    </div>
                    <button id="forgot-email-btn" class="login-btn" style="width:30%; margin: 0 10%">
                        发送邮件
                    </button>
                    <button id="forgot-btn" class="login-btn" style="width:30%; margin: 0 10px">
                        激活
                    </button>

                    <div class="text-foot">
                        记起密码? <a href="" class="login-link">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="login-footer">
        河海大学常州校区 2015级物联网工程学院 毕业设计
    </footer>
</div>

<script type="text/javascript">

    function testMsg() {
        layer.msg("I am you!", {time:3000, skin:'red', offset:'50px'});
    }

    // 检测注册邮箱
    function checkForgotEmail() {
        var email = document.getElementById('forgot-email').value.trim();
        var regex = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
        if (!regex.test(email)) {
            return "邮箱格式不正确！";
        }
    }

    // 检测激活码
    function checkForgotCode() {
        var code = document.getElementById('forgot-code').value;
        var regex = /^\\d{6}$/;
        if (!regex.test(code)) {
            return "激活码格式错误！"
        }
    }

    // 检测密码
    function checkForgotPassword() {
        var password = document.getElementById('forgot-password').value;
        if (password.indexOf(' ') !== -1) {
            return "密码不能包含空格！";
        }
        if (password.length < 8 || password.length > 16) {
            return "密码长度必须在8到16之间！";
        }
    }

    // 检测重复密码
    function checkForgotRepassword() {
        var password = document.getElementById('forgot-password').value;
        var repassword = document.getElementById('forgot-repassword').value;
        if (password !== repassword) {
            return "两次密码不一致！";
        }
    }

    // 重置密码表单提交
    function submitForgot() {
        var result = checkForgotEmail();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkForgotCode();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkForgotPassword();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkForgotRepassword();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
    }

    window.onload = function (ev) {

        // 添加邮箱检测事件
        document.getElementById('forgot-email').onblur = function () {
            var result = checkForgotEmail();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加激活码检测事件
        document.getElementById('forgot-code').onblur = function () {
            var result = checkForgotCode();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加注册密码检测事件
        document.getElementById('forgot-password').onblur = function () {
            var result = checkForgotPassword();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加重复密码检测事件
        document.getElementById('forgot-repassword').onblur = function () {
            var result = checkForgotRepassword();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加发送邮件按钮事件
        document.getElementById('forgot-email-btn').onclick = function () {
            var result = checkForgotEmail();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            } else {
                // 设置倒计时
                var button = document.getElementById('forgot-email-btn');
                button.className = "login-btn-disabled";
                timer(button, 60);
            }
            // 这个返回值可以使页面不刷新
            return false;
        };

        // 添加注册按钮事件
        document.getElementById('forgot-btn').onclick = function () {
            var result = submitForgot();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
                // 这个返回值可以使页面不刷新
                return false;
            } else {
                document.getElementById('forgot-form').submit();
            }
        }
    }
</script>
</body>
</html>