<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Register</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.90so.net/layui/2.4.5/css/layui.css" th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet">
    <link href="../../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdn.90so.net/layui/2.4.5/layui.all.js" th:src="@{/webjars/layui/layui.all.js}"></script>
    <script type="text/javascript" src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
</head>

<body>
<div class="login">
    <div class="login-brand">
        <img src="../../static/image/kodinger.jpg" th:src="@{/image/kodinger.jpg}" alt="logo">
    </div>
    <div class="login-wrapper">
        <div class="login-box login-register">
            <div class="login-box-inner">
                <form id="register-form" action="/v1/monitoring-system/users/add" th:action="@{/v1/monitoring-system/users/add}" method="post">
                    <p></p>
                    <div class="login-group">
                        <label><span style="margin-right: 5px;font-size: 12px;color: red;">*</span>用户名</label>
                        <input id="register-username" type="text" name="username" autocomplete="username" class="login-input" th:value="${registerUser != null} ? ${registerUser.username} : ''">
                    </div>
                    <div class="login-group">
                        <label><span style="margin-right: 5px;font-size: 12px;color: red;">*</span>邮箱</label>
                        <input id="register-email" type="email" autocomplete="email" name="email" class="login-input" th:value="${registerUser != null} ? ${registerUser.email} : ''">
                    </div>
                    <div class="login-group">
                        <label><span style="margin-right: 5px;font-size: 12px;color: red;">*</span>密码</label>
                        <input id="register-password" type="password" name="password" autocomplete="current-password" class="login-input">
                    </div>
                    <div class="login-group">
                        <label><span style="margin-right: 5px;font-size: 12px;color: red;">*</span>重复密码</label>
                        <input id="register-repassword" type="password" name="repassword" autocomplete="re-password" class="login-input">
                    </div>
                    <div class="login-group">
                        <label><span style="margin-right: 5px;font-size: 12px;color: red;">*</span>电话号码</label>
                        <input id="register-phoneNumber" type="text" name="phoneNumber" autocomplete="phone-number" class="login-input" th:value="${registerUser != null} ? ${registerUser.phoneNumber} : ''">
                    </div>
                    <button id="register-btn" class="login-btn">
                        注册
                    </button>

                    <div class="text-foot">
                        已有账号? <a href="#" th:href="@{/v1/monitoring-system/users/page/login}" class="login-link">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="login-footer">
        河海大学常州校区 2015级物联网工程学院 毕业设计
    </footer>
</div>

<input id="exceptionMessage" type="hidden" th:value="${exceptionMessage}">

<script type="text/javascript">

    window.onload = function (ev) {

        layerMsgInputValueById('exceptionMessage');

        // 添加注册用户名检测事件
        document.getElementById('register-username').onblur = function () {
            var result = checkRegisterUsername();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加注册邮箱检测事件
        document.getElementById('register-email').onblur = function () {
            var result = checkRegisterEmail();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加注册密码检测事件
        document.getElementById('register-password').onblur = function () {
            var result = checkRegisterPassword();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加重复密码检测事件
        document.getElementById('register-repassword').onblur = function () {
            var result = checkRegisterRepassword();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 注册电话号码检测
        document.getElementById('register-phoneNumber').onblur = function () {
            var result = checkRegisterPhoneNumber();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
            }
        };

        // 添加注册按钮事件
        document.getElementById('register-btn').onclick = function () {
            var result = submitRegister();
            if (typeof result != "undefined" && result != null && result.length > 0) {
                layerMsg(result);
                // 这个返回值可以使页面不刷新
                return false;
            } else {
                $("#register-form").submit();
            }
        }
    };

    // 检测注册用户名
    function checkRegisterUsername() {
        var username = document.getElementById('register-username').value.trim();
        if (username.length === 0) {
            return "用户名不能为空！";
        }
        if (username.indexOf(' ') !== -1) {
            return "用户名不能包含空格！";
        }
        if (username.length > 20) {
            return "用户名的长度不能超过20个字符！";
        }
        if (username.indexOf('@') !== -1) {
            return "用户名不能包含@字符！"
        }
    }

    // 检测注册邮箱
    function checkRegisterEmail() {
        var email = document.getElementById('register-email').value.trim();
        var regex = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
        if (!regex.test(email)) {
            return "邮箱格式不正确！";
        }
    }

    // 检测注册密码
    function checkRegisterPassword() {
        var password = document.getElementById('register-password').value;
        if (password.indexOf(' ') !== -1) {
            return "密码不能包含空格！";
        }
        if (password.length < 8 || password.length > 16) {
            return "密码长度必须在8到16之间！";
        }
    }

    // 检测重复密码
    function checkRegisterRepassword() {
        var password = document.getElementById('register-password').value;
        var repassword = document.getElementById('register-repassword').value;
        if (password !== repassword) {
            return "两次密码不一致！";
        }
    }

    // 检测电话号码
    function checkRegisterPhoneNumber() {
        var phoneNumber = document.getElementById('register-phoneNumber').value;
        var regex = /^1\d{10}$/;
        if (!regex.test(phoneNumber)) {
            return "电话号码格式错误！";
        }
    }

    // 注册表单提交
    function submitRegister() {
        var result = checkRegisterUsername();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkRegisterEmail();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkRegisterPassword();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkRegisterRepassword();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
        result = checkRegisterPhoneNumber();
        if (typeof result != "undefined" && result != null && result.length > 0) {
            return result;
        }
    }

</script>
</body>
</html>