<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineState</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.90so.net/layui/2.4.5/css/layui.css" th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdn.90so.net/layui/2.4.5/layui.js" th:src="@{/webjars/layui/layui.js}"></script>
    <script type="text/javascript" src="https://cdn.90so.net/layui/2.4.5/layui.all.js" th:src="@{/webjars/layui/layui.all.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/distpicker/2.0.5/distpicker.min.js"></script>
</head>
<body style="margin: 0 50px;">
<ul class="layui-nav layui-bg-blue" lay-filter="" style="padding: 0 200px">
    <li class="layui-nav-item col-lg-1.5"><a href="">首页</a></li>
    <li class="layui-nav-item col-lg-1.5 layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item col-lg-1.5"><a href="">大数据</a></li>
    <li class="layui-nav-item col-lg-1.5">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item col-lg-1.5"><a href="">社区</a></li>
</ul>
<ul class="layui-nav layui-nav-tree" lay-filter="test" style="float: left; height: 880px;">
    <li class="layui-nav-item">
        <a href="javascript:;">新增设备</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
    </li>
    <li class="layui-nav-item"><a href="#">产品</a></li>
    <li class="layui-nav-item"><a href="#">大数据</a></li>
</ul>
<div class="layui-container" style="
    border: 1px solid #1E9FFF;
    float: right;
    margin: 50px 310px 0 0;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
      ">
    <div style="margin: 30px; width: 95%; overflow: hidden">
        <input placeholder="搜索" style="height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:right;
    margin-bottom: 20px">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="120">
                <col width="70">
                <col width="120">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="70">
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>设备编号</th>
                <th>环境温度(℃)</th>
                <th>风速</th>
                <th>用电量(Kw/h)</th>
                <th>电流</th>
                <th>电压</th>
                <th>功率</th>
                <th>状态</th>
                <th>刷新时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            <tr>
                <td>LD4600000000</td>
                <td>19</td>
                <td>快</td>
                <td>149.67</td>
                <td>86.523</td>
                <td>142.14</td>
                <td>12298.069</td>
                <td>良好</td>
                <td>2019-04-26 02:15:50</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>