<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OnlineState</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.staticfile.org/jstree/3.3.8/themes/default/style.min.css" th:href="@{/webjars/jstree/themes/default/style.min.css}" rel="stylesheet">

    <link href="../../static/layui/css/layui.css" th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/distpicker/2.0.5/distpicker.min.js"></script>

    <script type="text/javascript" src="../../static/layui/layui.js" th:src="@{/webjars/layui/layui.js}"></script>
    <script type="text/javascript" src="../../static/layui/layui.all.js" th:src="@{/webjars/layui/layui.all.js}"></script>
    <script type="text/javascript" src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="../../static/js/air.conditioner.js" th:src="@{/js/air.conditioner.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 头部导航栏 -->
<!--    <div id="header-navigation-div-id"></div>-->

    <div class="layui-header">
        <div class="layui-logo" style="width: 300px; font-size: 26px;">电梯风扇监控系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" style="left: 300px;">
            <li class="layui-nav-item"><a href="#" th:href="@{/v1/monitoring-system/page/index}">首页</a></li>
            <li class="layui-nav-item"><a href="#" th:href="@{/v1/monitoring-system/air-conditioners/page/add-info}">设备管理</a></li>
            <li class="layui-nav-item"><a href="#">维修管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>


    <!-- 侧边导航栏 -->
    <div id="side-navigation-div-id"></div>

    <div class="layui-body" style="left: 300px;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-container" style="
                border: 1px solid #1E9FFF;
                margin: 10px auto;
                padding: 20px;
                background-color: #e2e2e2;
                border-radius: 10px;
                  ">
                <form id="state-search-form" class="form-horizontal" role="form" style="width: 95%; margin-top: 30px;">
                    <div class="form-group">
                        <label for="brand" class="col-sm-1 control-label">品牌</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="brand" name="brand" placeholder="请输入品牌">
                        </div>
                        <label for="model" class="col-sm-1 control-label">型号规格</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="model" name="model" placeholder="请输入型号规格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seller" class="col-sm-1 control-label">销售单位</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="seller" name="seller" placeholder="请输入销售单位">
                        </div>
                        <label for="address" class="col-sm-1 control-label">设备地址</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="address" name="model" placeholder="请输入设备地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wind-speed" class="col-sm-1 control-label">风速</label>
                        <div class="col-sm-5">
                            <select id="wind-speed" class="form-control">
                                <option value="">---- 选择风速 ----</option>
                                <option value="FAST">快</option>
                                <option value="SLOW">慢</option>
                                <option value="STOP">停止</option>
                            </select>
                        </div>
                        <label for="equipment-state" class="col-sm-1 control-label">设备状态</label>
                        <div class="col-sm-5">
                            <select id="equipment-state" class="form-control">
                                <option value="">---- 选择设备状态 ----</option>
                                <option value="GOOD">良好</option>
                                <option value="FAULT">故障</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-temperature" class="col-sm-1 control-label">温度</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="min-temperature" name="seller" placeholder="℃（整数）">
                        </div>
                        <label for="max-temperature" class="col-sm-1 control-label" style="text-align: center; font-size: 12px; padding: 10px 26px; height: 34px;">——</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="max-temperature" name="model" placeholder="℃（整数）">
                        </div>
                        <label for="min-kwh" class="col-sm-1 control-label">用电量</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="min-kwh" name="seller" placeholder="Kw/h（正数）">
                        </div>
                        <label for="max-kwh" class="col-sm-1 control-label" style="text-align: center; font-size: 12px; padding: 10px 26px; height: 34px;">——</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="max-kwh" name="model" placeholder="Kw/h（正数）">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-current-intensity" class="col-sm-1 control-label">电流</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="min-current-intensity" name="seller" placeholder="A（正数）">
                        </div>
                        <label for="max-current-intensity" class="col-sm-1 control-label" style="text-align: center; font-size: 12px; padding: 10px 26px; height: 34px;">——</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="max-current-intensity" name="model" placeholder="A（正数）">
                        </div>
                        <label for="min-voltage" class="col-sm-1 control-label">电压</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="min-voltage" name="seller" placeholder="V（正数）">
                        </div>
                        <label for="max-voltage" class="col-sm-1 control-label" style="text-align: center; font-size: 12px; padding: 10px 26px; height: 34px;">——</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="max-voltage" name="model" placeholder="V（正数）">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-power" class="col-sm-1 control-label">功率</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="min-power" name="seller" placeholder="W（正数）">
                        </div>
                        <label for="max-power" class="col-sm-1 control-label" style="text-align: center; font-size: 12px; padding: 10px 26px; height: 34px;">——</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="max-power" name="model" placeholder="W（正数）">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="width: 40%; margin: 0 auto">
                            <button class="btn btn-success" id="search-btn" style="margin: 20px 0 0 65%; width: 100px;">查询</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10" style="width: 40%; margin: 0 auto">
                            <button class="btn btn-danger" id="reset-btn" style="margin: 20px 0 0 65%; width: 100px;">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr class="layui-bg-blue" style="margin-bottom: 30px;">

        <div style="margin: 0 10px; padding: 0 10px; border: 1px solid #1E9FFF; border-radius: 5px;">
            <table id="equipment-data-table" lay-filter="test"></table>
        </div>

    </div>

    <!-- 页脚 -->
    <div id="footer-div-id"></div>

</div>

<script type="text/javascript">

    window.onload = function (ev) {

        // 页面初始化
        pageAfterOnloadInit();

        // layui 初始化
        layuiInit();

        // 添加数据校验事件
        document.getElementById('min-temperature').onblur = function (ev1) {
            checkMinTemperature();
        };
        document.getElementById('max-temperature').onblur = function (ev1) {
            checkMaxTemperature();
        };
        document.getElementById('min-kwh').onblur = function (ev1) {
            checkMinKwh();
        };
        document.getElementById('max-kwh').onblur = function (ev1) {
            checkMaxKwh();
        };
        document.getElementById('min-current-intensity').onblur = function (ev1) {
            checkMinCurrentIntensity();
        };
        document.getElementById('max-current-intensity').onblur = function (ev1) {
            checkMaxCurrentIntensity();
        };
        document.getElementById('min-voltage').onblur = function (ev1) {
            checkMinVoltage();
        };
        document.getElementById('max-voltage').onblur = function (ev1) {
            checkMaxVoltage();
        };
        document.getElementById('min-power').onblur = function (ev1) {
            checkMinPower();
        };
        document.getElementById('max-power').onblur = function (ev1) {
            checkMaxPower();
        };

        document.getElementById('min-temperature').onkeyup = function (ev1) {
            checkMinTemperature();
        };
        document.getElementById('max-temperature').onkeyup = function (ev1) {
            checkMaxTemperature();
        };
        document.getElementById('min-kwh').onkeyup = function (ev1) {
            checkMinKwh();
        };
        document.getElementById('max-kwh').onkeyup = function (ev1) {
            checkMaxKwh();
        };
        document.getElementById('min-current-intensity').onkeyup = function (ev1) {
            checkMinCurrentIntensity();
        };
        document.getElementById('max-current-intensity').onkeyup = function (ev1) {
            checkMaxCurrentIntensity();
        };
        document.getElementById('min-voltage').onkeyup = function (ev1) {
            checkMinVoltage();
        };
        document.getElementById('max-voltage').onkeyup = function (ev1) {
            checkMaxVoltage();
        };
        document.getElementById('min-power').onkeyup = function (ev1) {
            checkMinPower();
        };
        document.getElementById('max-power').onkeyup = function (ev1) {
            checkMaxPower();
        };

        // 设置“查询”按钮事件
        document.getElementById('search-btn').onclick = stateSearchFormSubmitEvent;

        // 设置“重置”按钮事件
        document.getElementById('reset-btn').onclick = stateSearchFormResetEvent;

    }

</script>

<script type="text/javascript">

    //////////////// function defined ///////////////////////////////

    // 页面初始化
    function pageAfterOnloadInit() {
        initHeaderNavigationDiv();
        initSideNavigationDivOrdinaryEquipment();
        initFooterDiv();
    }

    function isInteger(value) {
        var regex = /^-?\d+$/;
        return regex.test(value);
    }

    function isPositive(value) {
        var regex = /^\d+.?\d*$/;
        return regex.test(value);
    }

    function checkMinTemperature() {
        var value = $("#min-temperature").val().trim();
        if (value.length > 0 && !isInteger(value)) {
            kingLayerMsg('请输入一个合法的最小温度！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMaxTemperature() {
        var value = $("#max-temperature").val().trim();
        if (value.length > 0 && !isInteger(value)) {
            kingLayerMsg('请输入一个合法的最大温度！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMinKwh() {
        var value = $("#min-kwh").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最小用电量！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMaxKwh() {
        var value = $("#max-kwh").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最大用电量！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMinCurrentIntensity() {
        var value = $("#min-current-intensity").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最小电流！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMaxCurrentIntensity() {
        var value = $("#max-current-intensity").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最大电流！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMinVoltage() {
        var value = $("#min-voltage").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最小电压！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMaxVoltage() {
        var value = $("#max-voltage").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最大电压！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMinPower() {
        var value = $("#min-power").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最小功率！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function checkMaxPower() {
        var value = $("#max-power").val().trim();
        if (value.length > 0 && !isPositive(value)) {
            kingLayerMsg('请输入一个合法的最大功率！', airConditionerDefaultLayerMsgOptions);
            return false;
        }
        return true;
    }

    function stateSearchFormSubmitEvent(ev) {
        if (checkMinTemperature() && checkMaxTemperature() && checkMinKwh() && checkMaxKwh() && checkMinCurrentIntensity()
            && checkMaxCurrentIntensity() && checkMinVoltage() && checkMaxVoltage() && checkMinPower() && checkMaxPower()) {

            // 发送查询设备信息请求
            $.ajax({
                url: AIR_CONDITIONER_BASE_MAPPING_V1 + "/page/search",  // 带查询条件的分页查询
                type: "get",
                data: {
                    'brand': $("#brand").val().trim(),
                    'model': $("#model").val().trim(),
                    'seller': $("#seller").val().trim(),
                    'address': $("#address").val().trim(),
                    'windSpeed': $("#wind-speed").val().trim(),
                    'equipmentState': $("#equipment-state").val().trim(),
                    'temperature.min': $("#min-temperature").val().trim(),
                    'temperature.max': $("#max-temperature").val().trim(),
                    'kwh.min': $("#min-kwh").val().trim(),
                    'kwh.max': $("#max-kwh").val().trim(),
                    'currentIntensity.min': $("#min-current-intensity").val().trim(),
                    'currentIntensity.max': $("#max-current-intensity").val().trim(),
                    'voltage.min': $("#min-voltage").val().trim(),
                    'voltage.max': $("#max-voltage").val().trim(),
                    'power.min': $("#min-power").val().trim(),
                    'power.max': $("#max-power").val().trim()
                },
                success: function (result, status, xhr) {
                    var obj = JSON.parse(result);
                    var code = obj.code;
                    var message = obj.message;
                    var data = obj.data;
                    if (code !== 200) {
                        kingLayerMsg(message, airConditionerDefaultLayerMsgOptions);
                    } else {
                        kingLayerMsg("查询成功！", airConditionerDefaultLayerMsgOptions);

                        // 表格重载
                        layui.use('table', function () {
                            var table = layui.table;
                            table.reload('equipment-data-table', {
                                data: result,
                                url: ''  // 数据接口置为空
                            })
                        });
                    }
                }
            });
        }
        return false;
    }

    function stateSearchFormResetEvent(ev) {
        var form = document.getElementById('state-search-form');
        var inputs = form.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = "";
        }

        var selects = form.getElementsByTagName('select');
        for (i = 0; i < selects.length; i++) {
            selects[i].options[0].selected = true;
        }

        // 表格重载
        layui.use('table', function () {
            var table = layui.table;
            table.reload('equipment-data-table', {
                data: [],
                url:  AIR_CONDITIONER_BASE_MAPPING_V1 + "/page" // 默认数据分页查询数据接口
            })
        });
        return false;
    }

    // layui 初始化
    function layuiInit() {
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            var layer = layui.layer;

        });
    }

    // layui 数据表格初始化
    function layuiTableInit() {
        layui.use('table', function () {
            var table = layui.table;

            // 表格渲染
            table.render({
                elem: '#equipment-data-table',
                url: AIR_CONDITIONER_BASE_MAPPING_V1 + "/page",  // 默认数据查询数据接口
                loading: true,  // 显示加载条
                page: true,     // 开启分页
                even: true,     // 设置隔行背景
                response: {
                    statusCode: 200     //规定成功的状态码，默认：0
                },
                parseData: function (result) { //result 即为原始返回的数据
                    var obj = JSON.parse(result);
                    return {
                        "code": obj.code,               //解析接口状态
                        "msg": obj.message,             //解析提示文本
                        "count": obj.data.count,        //解析数据长度
                        "data": obj.data.data           //解析数据列表
                    };
                },
                cols: [
                    [   //表头
                        {field: 'id', hide: true},
                        {field: 'equipmentId', title: '设备编号', sort: true, align: 'center', width: 126},
                        {field: 'gmtModified', title: '刷新时间', sort: true, align: 'center', width: 161},
                        {field: 'temperature', title: '温度(℃)', sort: true, align: 'center', width: 92},
                        {field: 'windSpeed', title: '风速', sort: true, align: 'center', width: 65},
                        {field: 'kwh', title: '用电量(Kw/h)', sort: true, align: 'center', width: 119},
                        {field: 'currentIntensity', title: '电流(A)', sort: true, align: 'center', width: 83},
                        {field: 'voltage', title: '电压(V)', sort: true, align: 'center', width: 83},
                        {field: 'power', title: '功率(W)', sort: true, align: 'center', width: 98},
                        {field: 'equipmentState', title: '状态', sort: true, align: 'center', width: 69},
                        {field: 'brand', title: '品牌', sort: true, align: 'center', width: 120},
                        {field: 'model', title: '型号', sort: true, align: 'center', width: 120},
                        {field: 'seller', title: '销售单位', sort: true, align: 'center', width: 120},
                        {field: 'address', title: '地址', sort: true, align: 'center'}
                    ]
                ]
            });

            // 行双击事件
            table.on('rowDouble(equipment-data-table)', function (obj) {
                var data = obj.data;
                alert(data.id);
                $.ajax({
                    url: '/v1/monitoring-system/air-conditioners/' + data.id,
                    async: false,
                    type: get
                });
            });

        });
    }

    // TODO response 的参数设置

</script>
</body>
</html>